@{ 
Layout = "~/Views/Shared/_LandingPage.cshtml";
}

    @Html.Partial("_MaintenanceMessages", new TRIPWEB.Models.MaintenanceMessages())

    <div class="container">
        <div class="row"> 
            <div class="cta-container">
                <a href="~/Reservation" class="btn-cfx">Start Reservation</a>
            </div>
        </div>
        <div class="row">
            <section class="how-to">
                `<h1>How Visitor Toll Pass<span class="trade-symbol">&trade;</span> works</h1>
                 <ol class="how-to-list">
                     <li>
                          
                          <p><span class="inline-item">Hang Visitor Toll Pass&trade; from the rearview mirror</span> of your rented vehicle prior to leaving the airport parking garage. Technology in the parking garage will automatically read and activate your pass when you depart.</p>
                     </li>
                     <li>
                         <h2>Explore and Enjoy!</h2>
                        <p>Remember, to work properly, Visitor Toll Pass&trade; must be hanging from the rearview mirror at all times.</p>
                     </li>
                     <li>
                         <h2>Return Visitor Toll Pass&trade;</h2>
                         <p style="line-height:200%;">
                             Drive into the rental car return area, and technology in the garage will read your pass and end your trip.
                             <br/>
                             Remove Visitor Toll Pass™ from the rented vehicle.
                             <br/>
                             Drop your pass in the return drop boxes located at all transportation level airport entrances in Terminals A and B,
                             or at a Visitor Toll Pass™ counter in the airport rental car area.


                         </p>
                     </li>
                 </ol>
            </section>
        </div>
    </div>
  </div>

    @{
//TODO: Remove Depricated Main Buttons Code
    }

   

    <!-- Start Footer -->
    @*<footer>*@
        @*@Html.Partial("_FooterStandard")*@
    @*</footer>*@
    <!-- // Footer -->
    <!-- Modal Dialog Shell -->
    <div id="modalDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            </div>
        </div>
    </div>




