@model TRAILSWEB.Models.MaintenanceMessages

        @{if (!string.IsNullOrEmpty((Model.MaintenanceMessage)))
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Maintenance Information</strong><br />
                    @Html.DisplayFor(m => m.MaintenanceMessage, new { @class = "form-control" })
                </div>
            }
            if (!string.IsNullOrEmpty((Model.WarningMessage)))
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Maintenance Information</strong><br />
                    @Html.DisplayFor(m => m.WarningMessage, new { @class = "form-control" })
                </div>
            }
            if (!string.IsNullOrEmpty((Model.AlertMessage)))
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Maintenance Information</strong><br />
                    @Html.DisplayFor(m => m.AlertMessage, new { @class = "form-control" })
                </div>
            }
        }
