@* Reusable for Payment Data *@
@using TRAILSWEB.Helpers
@model  TRAILSWEB.Models.PaymentInformation

<div class="form-group">
<div class="col-sm-12 col-xs-12">
    <div class="form-group">
        <label for="TransponderPrice" class="col-sm-3 col-xs-6">Payment Amount:</label>
        <div class="col-sm-2 col-xs-4 text-right">
            <span>$ &nbsp;</span>
            <span id="pendingTransactionAmount">0.00</span>
        </div>
        <div class="col-sm-1 col-xs-1">
            <a id="pendingTransactionAmountHelp" class="help pendingTransactionAmountHelp" rel="popover" data-toggle="popover" data-content="" style="color:#337ab7;">
                <i class="material-icons">help</i>
            </a>
        </div>
    </div>
</div>
</div>


@if (!Model.UseCardOnFile)
{
<div class="checkbox CCPayment checkBoxStyle purpleCheckbox" id="saveCardOnFileOptionDiv" >
    <label id="saveCardOnFileOptionLabel" for="SaveCardOnFile" class='active' >
        @Html.CheckBox("SaveCardOnFile", Model.SaveCardOnFile, new { @style = "display: none" })
        <div class="customCheckbox"></div>
        <!--<i class="fa fa-square fa-2x"></i><i class="fa fa-check-square fa-2x"></i>-->
        <span>
        Save Card for future use
        </span>
    </label>
</div>
}

@{var useCardOnFile = (Model.UseCardOnFile == true) ? "True" : "False";}


