@* Reusable Card Payment Info Form *@
@using TRAILSWEB.Helpers
@using TRAILSWEB.Models
@model  TRAILSWEB.Models.AddTransponderModel

@{
    var flowSource = ViewData["PageFlow"] == null || string.IsNullOrEmpty(ViewData["PageFlow"].ToString()) ? ActivityTypes.Manage : ViewData["PageFlow"].ToString();

}

<div id="replaceTransponderBodyPanel" class="modal-body form-horizontal TransponderPurchase replaceTransponder transponderBodyPanel" data-trasponder-role="replace">
    @* DOM elements will be filled from below template *@
</div>


<div id="replaceTransponderBodyTemplate" class="hidden">
    <div id="replaceTransponderEditPanel" class="TransponderPurchase transactionEditPanel">

        <ul class="nav nav-tabs" id="replaceTypeTabs">
            <li class="active">
                <a href="#replaceAndBuyTransponder" id="buyTransponderTab" data-toggle="tab" class="update-cart-item newCart">Buy</a>
            </li>
            <li>
                <a href="#replaceAndActivateTransponder" id="activateTransponderTab" data-toggle="tab" class="update-cart-item newCart">Activate</a>
            </li>
        </ul>



        <div class="tab-content ">
            <div class="tab-pane active SalesTransponderSelection" id="replaceAndBuyTransponder">
                <div class="panel-body">
                    @Html.Partial("_SingleTransponderSelection",
                                                new TRAILSWEB.Models.SelectTransponder() { Transponders = Model.TranspondersForPurchase, AddNew = false },
                                                new ViewDataDictionary(this.ViewData) { { "PageSource", "replace_" } })
                </div>
            </div>
            <div class="tab-pane SalesTransponderSelection" id="replaceAndActivateTransponder">
                <div class="panel-body">
                    @Html.Partial("_ActivatingATransponder", new TRAILSWEB.Models.TransponderSelectionModel() //No need to send StateCode as replace functionality will not allow changing State
                   {
                       Transponder = new TRAILSWEB.Models.Transponder { LicensePlateNumber = "", LicensePlateState = "", AddNew = false, Replace = true, Activate = true }
                   },
                                                new ViewDataDictionary(this.ViewData) { { "PageSource", "replace_" } })
                </div>
            </div>
        </div>

        <div class="form-group SalesCardPayment">
            <div class="col-sm-12">
                @Html.Partial("_SalesCardPaymentInfo", Model.Payment, new ViewDataDictionary(this.ViewData) { { "PageSource", "Replace_" } })
            </div>
        </div>
    </div>

    <div id="replaceTransponderReviewPanel" style="display:none" class="transactionReviewPanel">
        <div class="form-group">
            <div id="replaceTransponderReviewPanelData" class="col-sm-12 previewTransaction transactionReviewPanelData">
                @*@Html.Partial("PreviewTransaction", new PreviewTransaction() { })*@
            </div>
        </div>
    </div>

    <div id="replaceTransponderConfirmationPanel" style="display:none" class="transactionConfirmationPanel">
        <div class="form-group">
            <div id="replaceTransponderConfirmationPanelData" class="col-sm-12 confirmationTransaction transactionConfirmationPanelData">
                @*@Html.Partial("_Confirmation", new Confirmation() { })*@
            </div>
        </div>
    </div>
</div>
