@* Sales Display Markup goes here. *@
<div id="bankInformation" class="panel panel-info">
    <!-- Bank Payment -->
    <div class="panel-heading">
        Make Electronic Payment through Bank Account
    </div>
    <div class="panel-body">
        @Html.Partial("_BankPaymentInfo")
    </div>
</div> <!-- // Bank Payment -->

