@model TRAILSWEB.Models.SelectTransponder

@{
    Layout = null;
    bool Transponder1 = false;
    string dataToggle = !Model.AddNew ? "buttons" : "";

}


<div class="checkBoxStyle transponderSelection nopadding" data-toggle="@dataToggle">


    @{
        var transponderTypes = Model.Transponders; //.OrderBy(t => t.TransponderType);
        int tranIndex = 0;
    }
    @foreach (var transponder in transponderTypes)
    {
        var transponderImage = (string.IsNullOrEmpty(transponder.ImagePath)) ? string.Format("transponder-{0}.png", transponder.TransponderType.ToString()) : transponder.ImagePath;
        var transponderPrice = (transponder.Price == 0) ? "FREE" : String.Format("{0:C}", transponder.Price);
        var transponderPriceColor = (transponder.Price == 0) ? "green" : "#b12704";
        var transponderDataPath = (!string.IsNullOrEmpty(ViewBag.TransponderDataPath)) ? ViewBag.TransponderDataPath : "Content/transponders";
        var tax = (transponder.Price == 0) ? " " : " + tax ";
        var productTitle = transponder.ShortDescription.ToUpper() == "MINI" ? "Sticker" : transponder.ShortDescription;

        if (!transponder.ImagePath.StartsWith("http"))
        { transponder.ImagePath = transponderDataPath + @"/images/" + transponder.ImagePath; }

        transponder.AddNew = Model.AddNew;

        var transponderSelectionClass = Model.AddNew ? "transponderSelection nopadding" : "btn transponderSelection nopadding";
        if (tranIndex == 0)
        {
            <label class="@transponderSelectionClass transponderSelection-label">

                @if (!Model.AddNew) //If not addNew that means replace functionality
                {
                    <div class="nopadding" style="width: 20px; display:inline; float: left">
                        <input type="radio" class="radio-button update-cart-item" name='selectTransponder' id="selectTransponder" value=@transponder.TransponderType transponder-data-type=@transponder.TransponderType transponder-data-price=@transponder.Price>
                        <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                    </div>
                }
                @Html.Partial("_TransponderSelection", new TRAILSWEB.Models.TransponderSelectionModel { Transponder = transponder, StateCodes = Model.StateCodes })


            </label>
        }
        else
        {

                    <label class="@transponderSelectionClass collpasibleProducts transponderSelection-label">

                        @if (!Model.AddNew) //If not addNew that means replace functionality
                        {
                            <div class="nopadding" style="width: 20px; display:inline; float: left">
                                <input type="radio" class="radio-button update-cart-item" name='selectTransponder' id="selectTransponder" value=@transponder.TransponderType transponder-data-type=@transponder.TransponderType transponder-data-price=@transponder.Price>
                                <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            </div>
                        }
                        @Html.Partial("_TransponderSelection", new TRAILSWEB.Models.TransponderSelectionModel { Transponder = transponder, StateCodes = Model.StateCodes })


                    </label>

        }
        tranIndex = tranIndex + 1;
    }
</div>

@if(Model.StateCodes != null)
{
<div id="transponderPurchaseDetailsTemplate" style="display:none!important;">
    <div class="panel panel-info" id="transponderPurchaseDetails_{0}_{1}" style="margin-top: 0px!important; margin-bottom:0px!important; border:none">
        @*<div><button type="button" class="close remove-cart-item update-cart-item" transponder-data-price="{3}" transponder-data-target="{0}_{1}" data-dismiss="alert" style="padding-right: 10px"><span aria-hidden="true">&times;</span></button></div>*@

            <div class="panel-body addTransponderTagPanel" id="transponderPurchaseDetails_{0}_{0}_{1}">
                <div class="col-sm-5 col-xs-10 nopadding">
                    <label class="col-md-12" for="VehicleData_TransponderNumber" id="transponderPurchasePlateLabel_{0}_{1}" style="padding-right:0px">License Plate {1}:</label>
                    <div class="control-div col-md-12 col-xs-12 licensePlate" style="padding-bottom:7px">
                        <input type="text" id="transponderPurchasePlate_{0}_{1}" name="transponderPurchasePlate_{0}_{1}" transponder-data-price="{3}" transponder-data-target="{0}_{1}" autocorrect="off" class="form-control textArea licensePlate" maxlength="10" size="10" placeholder="Enter License Plate" />
                    </div>
                </div>
                <div class="col-sm-5 col-xs-10 nopadding">
                    <label class="col-md-12" for="VehicleData_TransponderNumber" id="existingTransponderLabel" style="padding-right:0px">Plate State:</label>
                    <div class="control-div col-md-12 col-xs-12" style="padding-bottom:7px">
                        @Html.DropDownList("transponderPurchasePlateState_{0}_{1}", Model.StateCodes, new { @id = "transponderPurchasePlateState_{0}_{1}", @name = "transponderPurchasePlateState_{0}_{1}", @class = "form-control textArea licenseStateDD", @placeholder = "Enter License State" })
                    </div>
                </div>
            </div>
        </div>

</div>
}