@model TRAILSWEB.Models.SelectTransponder_Purchase

@{
    var licensePlateId = "BuyTransponder_LicensePlate_" + Model.Index;
    var licenseStateId = "BuyTransponder_LicenseState_" + Model.Index;
}
<label class="control-label col-md-3 col-sm-3 col-xs-5" for="VehicleData_TransponderNumber" id="existingTransponderLabel">License Plate:</label>
<div class="control-div col-md-2 col-sm-3 col-xs-7">
    @Html.TextBox(licensePlateId, "", new { @class = "form-control", @type = "number", @maxLength = 13, @placeholder = "Enter License Plate" })
</div>
<div class="clearfix visible-xs"></div>
<label class="control-label col-md-2 col-sm-3 col-xs-5" for="VehicleData_TransponderNumber" id="existingTransponderLabel">Plate State:</label>
<div class="control-div col-md-2 col-sm-3 col-xs-7">
    @Html.TextBox(licensePlateId, "Florida", new { @class = "form-control", @type = "number", @maxLength = 13, @placeholder = "Enter License State" })
</div>