@{ 
    ViewBag.Title = "Unexpected Error Occurred";
}
@section Styles
{
    <style>
        div.alert-danger h3 {
            color: #a94442;
        }
    </style>
}

<div class="container">
    <div class="alert alert-danger" role="alert">
        <h3>An error occured processing your request.</h3>
        <p>The error has been logged and customer service has been notified.</p>
        <p>We apologize for any inconvenience.</p>
        <p>&nbsp;</p>
        <p><a href="javascript:history.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to previous page</a></p>
    </div>
</div>
