<div id="logOffConfirmationModal" class="modal fade" role="dialog" aria-labelledby="confirmationTitle">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header warning default">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="logOffConfirmationTitle">Close Session</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p id="logOffConfirmationMessage">&nbsp;</p>
                    <p>Do you wish to exit? Please confirm.</p>
                </div>
            </div>
            <div class="modal-footer default">
                <button type="button" id="yesConfirmButton" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" id="noConfirmButton" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
