@model TRAILSWEB.Models.EmailRequest

@{
    ViewBag.Title = "Help Logging in";
    ViewBag.Tagline = "Enter the email address associated with your E-PASS accout to proceed.";
    ViewBag.Action = "ForgotPasswordEmail";
    ViewBag.Controller = "Account";

}
<div class="container">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @name = "forgotPasswordForm", @id = "forgotPasswordForm", @class = "form-horizontal", @role = "form" }))
    {
        <div id="emailBox" style="margin-top:30px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div id="emailFormData" class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Request Password</div>
                </div>

                <div class="clearfix"></div>
                <div id="userLogin">
                    <div class="panel-body">

                        @{string messages = string.Empty;
                            int tabIndex = 5000;
                        }
                        @if (!ViewData.ModelState.IsValid)
                        {
                            messages = string.Join("<br />", ViewData.ModelState.Values
                                .SelectMany(x => x.Errors)
                                .Select(x => x.ErrorMessage));
                            <div id="login-alert" class="alert alert-danger col-sm-12 login-alert">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @Html.Raw(HttpUtility.HtmlDecode(@messages))
                            </div>
                        }

                        <div>
                            <label for="Email" class="col-md-8 nopadding">Email Address</label>


                            <div style="margin-bottom: 0px" class="col-md-12 nopadding">
                                @*<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>*@
                                @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control", @maxlength = "32", placeholder = "Enter email address", @data_msg_regex = "Please enter a valid Email Address", @style = "width:100 % " })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">


                    <div class="clearfix visible-xs"></div>
                    <div class="col-sm-3" style="float:right!important;margin-bottom:10px;">
                        <button id="resetPasswordButton" type="submit" name="loginButton" class="btn btn-primary bootStrapButton userLogin" style="float:right!important;"><span class="fa fa-sign-in" aria-hidden="true"></span> Sent email</button>

                    </div>
                </div>

            </div>
        </div>
                            }
</div>
