@{
	var pageTitle = ViewBag.Title != null ? ViewBag.Title : "";
	var pageTagline = ViewBag.Tagline != null ? ViewBag.Tagline : "";
	var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
	var entryPoint = TempData.ContainsKey("EntryPointActivity") ? TempData["EntryPointActivity"].ToString() : null;
	var defaultButton = "MiniNavButton";
	var buttonClass = defaultButton;
}
<div class="PageHeaders">

	    <a href="~/"><div class="vtp-logo-small">
            <img src="~/Content/img/vtp-logo-orange2.png" srcset="~/Content/img/vtp-logo.svg" />
        </div></a>
		<div class="PageTitle">
            <div class="PageTitleDetails">@pageTitle</div>
               <div class="PageTagline">@pageTagline</div>
        </div>		
	

</div>

<script type="text/javascript">
	var TrailsWebNS = TrailsWebNS || {};
	TrailsWebNS.config = {
		baseUrl: '@Request.Url.GetLeftPart(UriPartial.Authority)' + '@Request.ApplicationPath' + '/'
	};

</script>
