@using System.Security;
@using System.Security.Claims;
@using System.Threading;

@{
    var corporateUrl = System.Configuration.ConfigurationManager.AppSettings.Get("CorporateBaseUrl");
    var epassUrl = System.Configuration.ConfigurationManager.AppSettings.Get("EPASSBaseUrl");
    var trafficInfoUrl = System.Configuration.ConfigurationManager.AppSettings.Get("TrafficInfoUrl");
    var request = HttpContext.Current.Request;
    var appUrl = HttpRuntime.AppDomainAppVirtualPath;
    var baseUrl = string.Format("{0}://{1}{2}", request.Url.Scheme, request.Url.Authority, appUrl);
    var homeUrl = baseUrl + "/";
    var homeStyleClass = (request.Url.ToString() == (homeUrl)) ? "active" : "";
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="~/"><div class="vtp-logo"></div></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-header pull-right" id="myInverseNavbar2">
            <ul class="nav navbar-nav">
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>